<html>
   <head>
      <title>Angular JS Forms</title>
      <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
      
      <style>
         table, th , td {
            border: 1px solid grey;
            border-collapse: collapse;
            padding: 5px;
         }
         table tr:nth-child(odd) {
            background-color: #f2f2f2;
         }
         table tr:nth-child(even) {
            background-color: #ffffff;
         }
      </style>
      
   </head>
   <body>
      
      <h2>Sign Up Form</h2>
      <div ng-app = "mainApp" ng-controller = "studentController">
         
         <form name = "studentForm"  class="form-horizontal" role="form" name="CreateEmployeeForm" novalidate>
            <table border = "0">
               <tr>
                  <td>Enter first name:</td>
                  <td><input name = "firstname" type = "text" ng-model = "firstName" required>
                     <span style = "color:red" ng-show = "studentForm.firstname.$dirty && studentForm.firstname.$invalid">
                        <span ng-show = "studentForm.firstname.$error.required">First Name is required.</span>
                     </span>
                  </td>
               </tr>
               
               <tr>
                  <td>Enter last name: </td>
                  <td><input name = "lastname"  type = "text" ng-model = "lastName" required>
                     <span style = "color:red" ng-show = "studentForm.lastname.$dirty && studentForm.lastname.$invalid">
                        <span ng-show = "studentForm.lastname.$error.required">Last Name is required.</span>
                     </span>
                  </td>
               </tr>
               
               <tr>
                  <td>Email: </td><td><input name = "email" type = "email" ng-model = "email" length = "100" required>
                     <span style = "color:red" ng-show = "studentForm.email.$dirty && studentForm.email.$invalid">
                        <span ng-show = "studentForm.email.$error.required">Email is required.</span>
                        <span ng-show = "studentForm.email.$error.email">Invalid email address.</span>
                     </span>
                  </td>
               </tr>

               <tr>
                <td>Mobile No.: </td>
                <td><input name = "Mobile"  type = "integer" ng-model = "Mobile" required> 
                   <span style = "color:red" ng-show = "studentForm.Mobile.$dirty && studentForm.Mobile.$invalid">
                      <span ng-show = "studentForm.Mobile.$error.required">Mobile No. is required.</span>
                      <span ng-show = "studentForm.Mobile.$error.Mobile">Invalid Mobile No..</span>
                   </span>
                </td>
             </tr>

             <tr>
                <td>Address:</td>
                <td><input name = "address" type = "text" ng-model = "address">
                </td>
             </tr>

             <tr>
                <td>DOB: </td><td>    <input type="date" date='dd-MM-yyyy'  ng-model="secondDate"  class="form-control" />  

                   <span style = "color:red" ng-show = "studentForm.DOB.$dirty && studentForm.DOB.$invalid">
                      <span ng-show = "studentForm.DOB.$error.required">DOB is required.</span>
                      <span ng-show = "studentForm.DOB.$error.DOB">Invalid DOB address.</span>
                   </span>
                </td>
             </tr>
               
             <tr>
                <td>Gender:</td>
                <td><label><input name = "gender" type = "radio" ng-model = "use.gender"  ng-change="RadioChange('Male')"  value="Male" required>Male</label>
                    <label><input name = "gender" type = "radio" ng-model = "use.gender"  ng-change="RadioChange('Female')"  value="Female" required>Female</label>
                </td>
             </tr>

             <tr>
                <td>Username:</td>
                <td><input name = "username" type = "text" ng-model = "username" required>
                   <span style = "color:red" ng-show = "studentForm.username.$dirty && studentForm.username.$invalid">
                      <span ng-show = "studentForm.username.$error.required">UserName is required.</span>
                   </span>
                </td>
             </tr>

             <tr>
                <td>Password: </td>
                <td><input type="password" class="form-control placeholder" name="Password" ng-model="Employee.Password" ng-required="true" placeholder="Password">
                   <span style = "color:red" ng-show = "studentForm.password.$dirty && studentForm.password.$invalid">
                      <span ng-show = "studentForm.password.$error.required">Password sis required.</span>
                   </span>
                </td>
             </tr>

             <tr>
                <td>Confirm Password: </td>
                <td><input type="password" class="form-control placeholder" name="ConfirmPassword" ng-model="Employee.ConfirmPassword" ng-required="true" compare-to="Employee.Password" placeholder="Confirm Password">
                    <div ng-messages="CreateEmployeeForm.ConfirmPassword.$error" ng-if="CreateEmployeeForm.ConfirmPassword.$touched">
                        <span ng-message="compareTo">Password not matched.</span>
                    </div>
                </td>
             </tr>

             

               <tr>
                  <td>
                     <button ng-click = "reset()">Reset</button>
                  </td>
                  <td>
                     <button ng-disabled = "studentForm.firstname.$dirty &&
                        studentForm.firstname.$invalid || studentForm.lastname.$dirty &&
                        studentForm.lastname.$invalid || studentForm.email.$dirty &&
                        studentForm.email.$invalid || studentForm.Mobile.$dirty &&
                        studentForm.Mobile.$invalid || studentForm.DOB.$dirty &&
                        studentForm.DOB.$invalid || studentForm.username.$dirty &&
                        studentForm.username.$invalid || studentForm.password.$dirty &&
                        studentForm.password.$invalid || studentForm.ConfirmPassword.$dirty &&
                        studentForm.email.$invalid" ng-click="submit()">Submit</button> 
                  </td>
               </tr>
					
            </table>
         </form>
      </div>
      
      <script>
         var mainApp = angular.module("mainApp", []);
         
         mainApp.controller('studentController', function($scope) {
            $scope.reset = function() {
               $scope.firstName = "Name";
               $scope.lastName = "Surname";
               $scope.email = "email@gmail.com";
               $scope.Mobile = "Mobile";
               $scope.address = "Address";
               $scope.DOB = "dd-mm-yy";
               $scope.username = "username";
               $scope.password = "";
               $scope.ConfirmPassword = "";
            }
            
            $scope.reset();
         });

         
      </script>
      
      
   </body>
</html>